<p>about works!</p>

<!-- angular reactjs map için *ngFor yapısını kullanır. ngFor bir built-in bir directive'dir  -->
<!-- directive ise bir html elementine attribute olarak tanımlanan html elementine bir özellik kazandıran yapılar. -->
<ul>
  <li *ngFor="let item of names">{{ item.name }} {{ item.surname }}</li>
</ul>

<app-button
  (btnClicked)="click($event)"
  [color]="'blue'"
  [title]="'myButton'"
></app-button>
<app-button
  (btnClicked)="click($event)"
  [color]="'red'"
  [title]="'myButton2'"
></app-button>
<app-button
  (btnClicked)="click($event)"
  [color]="'green'"
  [title]="'myButton3'"
></app-button>
